
#topnav{
    height: 10vh;
    
    background-color: rgb(255, 128, 171);
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
   top: 0px;
   
}

#topnav>div{
padding-top: 10px;
height: 10vh;
}
#navbtn{
    margin-left: 5px;
    background-color: #196CFF;
    border-color: #196CFF;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    width: 70px;
}
#X{
    font-size: 30px;
    cursor: pointer;
}
#menu{

    width: 100%;
}

 #menu ul{
list-style: none;
 margin: 0;
 padding: 0;
 position: relative; 
float: none;
text-align: center;
padding-top: 10px;
} 

 #menu ul a{
    /* border: 1px solid red; */
    width: 100%;
    color: black;
    
    text-decoration: none;
    font-size: 15px;
    line-height: 32px;
    padding: 0px 15px;
    font-weight: bold;
    display: block;
}
 #menu ul li{
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline;
}
#menu ul li:hover{
    color: blue;
   
}
#menu ul ul{
    position: absolute;

    /* top: 100%; */
    /* left: 0; */
    display: none;
}
#menu ul ul li{
    /* float: none; */
    width: 200px;

}
#menu ul ul li:hover{
    border-left: 3px solid #2c3e50;
   
    
}

#menu ul li:hover > ul {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
display: block;

}
#menu button{
background-color: #196CFF;
color: white;
margin-left: 100px;
font-size: 20px;
border: none;
padding: 5px;

border-radius: 5px;
cursor: pointer;
}
/* #menu li{
    align-items: center;
} */
#menu>button>a{
    color: white;
    text-decoration: none;

}
#imgnav>a{
    cursor: pointer;
}

#page1{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-top: 5%;
}
#page1 div{
    width: 50%;
}
#page1 div>img{
    width: 100%;
}
#page1 div h1{
    width: 90%;

    font-size: 50px;
    margin-top: -5px;
}
#page1 div p{
    width: 90%;

    font-size: 18px;
}
#page1>div>button{
    background-color:#196CFF;
    border-color: #196CFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}
#page1>div>button:hover{
    background-color: blue;
}
#page2{
    background-color: rgb(236, 237, 239);
}
#page2part1{
background-color: rgb(236, 237, 239);
height: 80vh;
width: 36%;
margin: auto;
}
#page2part1>h1{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    
}

#page2part2{
 
    width: 200%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
   
    margin-left: -200px;
}
#page2part2>div>img{
    margin-top: 20px;
    width: 50%;
    margin: auto;
}
#page2part2>div>p{
    font-size: 20px;
    font-weight: bold;
}
#page3{
display: grid;
grid-template-columns: repeat(2,1fr);
width: 80%;
margin: auto;
margin-top: 50px;
}
/* #page3>div{
    width: 90%;
    border: 1px solid black;
    margin-top: 20px;
} */
#page3>div>img{
    width: 100%;
   
}
#page3>div>h2{

    width: 80%;
    font-size: 40px;
}
#page3>div>p{

    width: 84%; 
    font-size: 20px;
}
#page3>div{
    height: 80vh;
}
#next{
  
    font-size: 18px;
    margin-left: 40px;
}
#page3>div>button{
    color: #196CFF;
    padding: 10px;
 background-color: white;
  border-color: #196CFF;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    margin-top: 30px;
}
#page3>div>button:hover{
    background-color: blue;
}
#imgdiv>img{
    height: 50vh;
    width: 100%;
}
#footer{
    display: flex;
    justify-content: center;
   background-color:rgb(236, 237, 239);
   
}
#footer>div{
    margin-left: 50px;
    margin-top: 40px;
}
#footer p{
    cursor: pointer;
    line-height: 10px;
}
#footer u{
    font-weight: bold;
}